.rectangle{
    background-color: black;
    margin: 50px auto;
    height: 400px;
    width: 200px;
    border-radius: 15px;
    border: solid 8px rgb(255, 166, 0);
    box-shadow: 10px 5px 10px rgb(17, 17, 17);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;

}

#redLight{
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 70px;
    
}

#yellowLight{
    background-color: yellow;
    height: 100px;
    width: 100px;
    border-radius: 70px;
}

#greenLight{
    background-color: green;
    height: 100px;
    width: 100px;
    border-radius: 70px;
   
}

.redLight{
    box-shadow: 0px 0px 35px rgb(252, 121, 121);
    border: solid 0.5px rgb(252, 176, 176)
}

.yellowLight{
    box-shadow: 0px 0px 35px rgb(245, 224, 107);
    border: solid 0.5px rgb(255, 252, 203)
}

.greenLight{
    box-shadow: 0px 0px 35px rgb(107, 245, 107);
    border: solid 0.5px rgb(176, 255, 166)
}

.botones{
    margin: auto;
}

.button {
  align-items: center;
  appearance: none;
  background-color: #ffffff;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #111114;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button:focus {
  box-shadow: #f3f3f5 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}